$primaryColor: #FF5000;
$secondaryColor: #3C3C3C;
$ligthOrange: #FF7536;
$btnActive: #FF7536;
$font: 'Lato', sans-serif;
$text-big:1.5em; /*Equivalente a 24px, tomando como base 16px*/
$text-medium:1.25em; /*Equivalente a 20px, tomando como base 16px*/
$text-small:0.75em; /*Equivalente a 20px, tomando como base 16px*/


