.container-listCards-supervisions {
    margin-top: 110px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text-indication {
    margin-top: 110px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-listCards-action {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-back {
    background-color: transparent;
    border: none;
    .btn-back-i {
        color: white;
        font-size: 30px;
        z-index: 99;
        position: fixed;
        top: 12.5px;
        left: 15px;
    }
}

.btn-margin-top {
    margin-top: 30px;
}
