/* .new-supervision-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */

.container-listCards-supervisions {
    margin-top: 110px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-back {
    background-color: transparent;
    border: none;
    .btn-back-i {
        color: white;
        font-size: 30px;
        z-index: 99;
        position: fixed;
        top: 12.5px;
        left: 15px;
    }
}
