.header-container {
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: #E96351;
    text-align: center;
    h2 {
        color: white;
        margin: 10px;
        font-size: 20px;
    }
}