@import 'variables';
@import 'NavBar';
@import 'Header';
@import 'Login';
@import 'Accompaniment';
@import 'ActualSupervision';
@import 'ListSupervision';
@import 'NewSupervision';
@import 'Training';
@import 'Modal';
@import 'Subtitle';
@import 'UploadImage';
@import 'TextIndication';
@import 'QuestionCard';
@import 'ActionPlan';
@import 'NewActionPlan';
@import 'UserProfile';

body {
    font-family: $font;
    background-color: $backgroundColor;
}

// Botones
.btn-primary-custom, .btn-secondary-custom {
    width: 100%;
    max-width: 340px;
    height: 35px;
    color: white;
    font-family: $font;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: $borderRadius;
    background-color: $btnActive;
    box-shadow: $boxShadow;
}

.btn-secondary-custom {
    width: 80%;
}

// Texto
.orange-text {
    color: $nexaOrange;
}

.bold-text {
    font-weight: bold;
}

.icon-user {
    width: 40px;
    height: auto;
    border-radius: 50%;
    position: fixed;
    top: 7.5px;
    right: 15px;
    z-index: 99;
}