.list-cards {
    width: 80%;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    margin: 10px 0;
}

.list-cards-container {
    padding: 10px;;

    p {
        margin: 0;
    }
}

/* .container-listCards-supervisions {
    margin-top: 60px;
}
 */