.list-cards {
    width: 90%;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    margin: 10px 0;
}

.list-cards-container {
    width: 80%;
    p {
        margin: 0;
    }
}

.icon-upload {
    color: $secondaryColor;
}

#btn-acomp {
    font-size: 50px;
}

/* .container-listCards-supervisions {
    margin-top: 60px;
}
 */