.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.container-logo-form {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.logo-login {
    width: 100%;
    text-align: center;
    /* background-color: chartreuse; */
    img {
        margin-bottom: 10%;
        width: 70%;
        height: auto;
        max-width: 450px;
    }
}

.form-login {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* background-color: rgb(111, 94, 128) */;
    label {
        font-weight: bold;
        align-self: start;
    }
    .input-login {
        font-family: $font;
        width: 100%;
        padding: 5px;
        padding: 10px;
        margin: 10px 0;
    }
    button {

        width: 90%;
        padding: 10px;
        font-family: $font;
        border-radius: 5px;
        font-weight: bold;
    }
    p {
        text-align: center;
        font-size: $text-small;
        color: $primaryColor
    }
}