.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.container-logo-form {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1024px) {
        background-color: white;
        border-radius: 10px;
        box-shadow:  $boxShadow;
        padding: 90px 50px;
    }
}

.logo-login {
    width: 100%;
    text-align: center;
    /* background-color: chartreuse; */
    img {
        margin-bottom: 18%;
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}

.form-login {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    label {
        font-weight: bold;
        align-self: start;
        margin: 0;
        margin-left: 15px;
        color: $secondaryColor;
        font-size: 0.9em;
    }
    .input-login {
        font-family: $font;
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
        border: 2px solid #C4C4C4;
        border-radius: 3px;
    }
    button {
        margin: 10px 0;
    }
    p {
        color: $nexaOrange;
        text-align: center;
        font-size: 0.9em;
    }
}