a:link, a:visited, a:active {
  text-decoration:none;
  color: $secondaryColor;
}

.nav-bar-bottom {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nav-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.125) inset;
}

.nav-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .icon {
    width: 30px;
    height: 30px;
    margin: auto 2px;
  }
  .title-nav-bar {
    margin: 0;
    font-size: 12px;
  }
}

.item-active {
  color: $primaryColor;
  font-weight: bold;
}