.newSupervision {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-newS {
    background-color:white;
    position: fixed;
    top: 40px;
    width: 100%;
    border-bottom: 1px solid $ligthOrange;
    h3 {
        font-size: 1em;
        margin: 10px 0;
        text-align: center;
    }
}

.container-newSupervision{
    width: 90%;
    overflow-y: scroll;
    margin: 70px 0 80px;
    margin-bottom: 50px;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .form-accompaniment {
    width: 80%;
    display: flex;  
    flex-flow: column nowrap;
    margin: 5px;
    padding: 5px;
    select {
        margin: 10px 0;
        padding: 5px;
    }
    input {
        margin: 10px 0;
        padding: 5px;
        border-radius:5px;
    }
    button {
        padding: 5px;
    }
} */