.question-card {
    width: 90%;
    border-bottom: 1px solid #3c3c3c2e;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        color: $nexaOrange;
        font-size: 20px;   
    }
    .icon-right {
        justify-self: end;
        color: #3c3c3c70;
    }
    .question-text {
        margin: 0;
        width: 80%;
    }
}