.card-question-container {
    margin-top: 110px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fq {
    width: 90%;   
    margin: 15px 0;
    font-weight: bold;
    color: $nexaOrange;
}