.container-userProfile{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.userPhoto-userProfile{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 80px;
    img{
        width: 100px;
        border-radius: 50px;
    }
}

.nameUser-userProfile{
    font-weight: bold;
    margin-top: 10px;
}


.leader-userProfile p {
    color: $ligthOrange;
}
.emailUser-userProfile p {
    font-size: $text-small;
}

.logo-userProfile {
    width: 100%;
    margin: 20px 0;
    img {
        width: 20%;
    }
}

.links-userProfile {
    font-weight: bold;
    margin-top: 20px;
}

.close-userProfile {
    margin-top: 40px;
    button{
        color: $ligthOrange;
        font-weight: bold;
    }
    
}